* {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
}
